* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

a {
  text-decoration: none;
}

body {
  background-color: #F6F6F6;
  font-family: 'Raleway', sans-serif;
}

.btnStyle {
  padding: 10px 20px;
  margin-top: 60px;
  background-color: #cee5f7;
  color: #414141;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btnStyle:hover {
  background-color: #fff;
}

.btnSolidStyle {
  padding: 10px 20px;
  margin-top: 60px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btnSolidStyle:hover {
  background-color: #fff;
}

.dangerBtn {
  padding: 10px 20px;
  margin-top: 60px;
  background-color: #ffa7a7;
  color: #353535;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.dangerBtn:hover {
  background-color: #fd8080;
  color: #fff;
}

.activeCategory {
  background-color: #fff;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.searchForm {
  position: relative;
}

.searchForm .resultList {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: absolute;
  z-index: 3;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.3);
}

.searchForm .resultList .resultItem {
  width: 100%;
  border-bottom: 1px solid #84B2EE;
  padding: 15px;
  cursor: pointer;
  height: auto;
}

.searchForm .resultList .resultItem:hover {
  background-color: #fff;
}

.navbar {
  -webkit-box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .container-fluid .navLogoDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 200px;
}

.navbar .container-fluid .navLogoDiv a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #737373;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Abril Fatface', cursive;
}

.navbar .container-fluid .navLogoDiv a .navLogo {
  border-radius: 50%;
  margin-right: 10px;
}

.navbar .container-fluid .searchForm {
  width: 500px;
}

.navbar .container-fluid .searchForm .searchInput {
  width: 100%;
  background-color: #fff;
  border: 1px solid #84B2EE;
  padding: 10px 15px;
  border-radius: 3px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.navbar .container-fluid .searchForm .searchInput:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.3);
}

.navbar .container-fluid .navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
}

#categoriesSection {
  background-color: #84B2EE;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23adfabc'/%3E%3Cstop offset='1' stop-color='%23adfabc' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23aef2b6'/%3E%3Cstop offset='1' stop-color='%23aef2b6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fcf3d9'/%3E%3Cstop offset='1' stop-color='%23fcf3d9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2384B2EE'/%3E%3Cstop offset='1' stop-color='%2384B2EE' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFF9DD'/%3E%3Cstop offset='1' stop-color='%23FFF9DD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F8EDD6'/%3E%3Cstop offset='1' stop-color='%23F8EDD6' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0;
}

#categoriesSection .categoriesWrapper {
  width: 100%;
}

#categoriesSection .categoriesWrapper .categoriesHeading {
  text-align: center;
}

#categoriesSection .categoriesWrapper .categoriesList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#categoriesSection .categoriesWrapper .categoriesList .categoryListItem {
  width: 160px;
  height: 160px;
  margin: 10px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#categoriesSection .categoriesWrapper .categoriesList .categoryListItem:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

#categoriesSection .categoriesWrapper .categoriesList .categoryListItem a {
  color: #737373;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 15px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

#categoriesSection .categoriesWrapper .categoriesList .categoryListItem a i {
  font-size: 3rem;
}

#productsSection {
  padding: 100px 0;
}

#productsSection .container .productsSectionHeading {
  text-align: center;
  margin-bottom: 50px;
}

#productsSection .container .productsList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#productsSection .container .productsList .productItem {
  width: 48%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-word;
  background-color: #fff;
}

#productsSection .container .productsList .productItem .productImgDiv {
  width: 300px;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#productsSection .container .productsList .productItem .productImgDiv:hover {
  width: 330px;
}

#productsSection .container .productsList .productItem .productImgDiv .productImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#productsSection .container .productsList .productItem .productInfo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
  word-break: break-word;
  position: relative;
}

#productsSection .container .productsList .productItem .productInfo .productNameDiv {
  word-break: break-word;
  position: relative;
}

#productsSection .container .productsList .productItem .productInfo .productNameDiv .productName {
  font-weight: 600;
  color: #454545;
  font-size: 1.4rem;
  word-break: break-word;
}

#productsSection .container .productsList .productItem .productInfo .productNameDiv .productNameUnderline {
  position: absolute;
  bottom: 5%;
  width: 2px;
  height: 2px;
  background-color: transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#productsSection .container .productsList .productItem .productInfo .productNameDiv .productName:hover + .productNameUnderline {
  width: 100%;
  background-color: #454545;
}

#productsSection .container .productsList .productItem .productInfo .productPriceDiv .productPrice {
  font-weight: 700;
  color: #454545;
  font-size: 1.2rem;
  word-break: break-word;
}

#productsSection .container .productsList .productItem .productInfo .likeButtonDiv {
  position: absolute;
  bottom: 0;
  right: 1%;
}

#productsSection .container .productsList .productItem .productInfo .likeButtonDiv .likeButton {
  background-color: transparent;
}

#productsSection .container .productsList .productItem .productInfo .likeButtonDiv .likeButton .like {
  pointer-events: none;
  color: #e76868;
}

.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #fff;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .footerTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .container .footerTop .footerLogoDiv {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .container .footerTop .footerLogoDiv .logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.footer .container .footerTop .footerLinksDiv {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 10px;
}

.footer .container .footerTop .footerLinksDiv .footerLinksList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .container .footerTop .footerLinksDiv .footerLinksList .footerLinksListItem {
  padding: 15px;
}

.footer .container .footerTop .footerLinksDiv .footerLinksList .footerLinksListItem .footerListItem {
  padding: 10px;
  margin: 0 10px;
}

.footer .container .footerTop .footerLinksDiv .footerLinksList .footerLinksListItem .footerListItem .footerLink {
  color: #737373;
  position: relative;
}

.footer .container .footerTop .footerLinksDiv .footerLinksList .footerLinksListItem .footerListItem .footerLink::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.footer .container .footerTop .footerLinksDiv .footerLinksList .footerLinksListItem .footerListItem .footerLink:hover {
  color: #454545;
}

.footer .container .footerTop .footerLinksDiv .footerLinksList .footerLinksListItem .footerListItem:hover .footerLink::after {
  background-color: #737373;
  width: 100%;
}

.footer .container .footerTop .contactList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .footerTop .contactListItem {
  padding: 10px;
  font-size: 2rem;
}

.footer .container .footerTop .contactListItem .footerLink {
  color: #84B2EE;
}

.footer .container .footerTop .appList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .container .footerTop .appList .applistItem {
  padding: 10px;
  font-size: 1.6rem;
}

.footer .container .footerTop .appList .applistItem .footerLink {
  color: #84B2EE;
}

.moreSection {
  padding: 50px 0;
}

.moreSection .container .moreImageDiv {
  width: 100%;
  height: 700px;
  background-color: #242424;
}

.moreSection .container .moreImageDiv .moreImage {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.moreSection .container .productInfo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
  word-break: break-word;
  position: relative;
}

.moreSection .container .productInfo .productNameDiv {
  word-break: break-word;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moreSection .container .productInfo .productNameDiv .productName {
  font-weight: 600;
  color: #454545;
  font-size: 3rem;
  word-break: break-word;
}

.moreSection .container .productInfo .productNameDiv .productNameUnderline {
  position: absolute;
  bottom: 5%;
  width: 2px;
  height: 2px;
  background-color: transparent;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.moreSection .container .productInfo .productNameDiv .productName:hover + .productNameUnderline {
  width: 100%;
  background-color: #454545;
}

.moreSection .container .productInfo .productNameDiv .addedAt {
  padding-bottom: 15px;
  font-size: 1.2rem;
}

.moreSection .container .productInfo .categoryName .productCategory {
  font-size: 1.2rem;
  color: #454545;
}

.moreSection .container .productInfo .productPriceDiv .productPrice {
  font-weight: 700;
  color: #454545;
  font-size: 1.6rem;
  word-break: break-word;
}

.moreSection .container .productInfo .descriptionDiv {
  margin-top: 30px;
}

.moreSection .container .productInfo .likeButtonDiv {
  position: absolute;
  top: 0;
  right: 0;
}

.moreSection .container .productInfo .likeButtonDiv .likeButton {
  background-color: transparent;
}

.moreSection .container .productInfo .likeButtonDiv .likeButton .like {
  pointer-events: none;
  color: #e76868;
}

#addNewSection {
  padding: 50px 0;
}

#addNewSection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#addNewSection .container #addNewForm {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  padding: 20px;
}

#addNewSection .container #addNewForm .inputField,
#addNewSection .container #addNewForm .textareaField {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

#addNewSection .container #addNewForm .selectField {
  margin-bottom: 20px;
}

#addNewSection .container #addNewForm .inputField input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #84B2EE;
  padding: 10px 15px;
  border-radius: 3px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#addNewSection .container #addNewForm .inputField input:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.3);
}

#addNewSection .container #addNewForm .textareaField textarea {
  border: 1px solid #84B2EE;
  outline: none;
  padding: 10px 15px;
  border-radius: 3px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#addNewSection .container #addNewForm .textareaField textarea:focus {
  border-color: transparent;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.3);
}

#addNewSection .container #addNewForm .priceOpts {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#addNewSection .container #addNewForm .priceOpts .inputField {
  width: 80%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

#addNewSection .container #addNewForm .priceOpts .selectField {
  width: 20%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 5px;
}

#addNewSection .container #addNewForm .priceOpts .selectField select {
  width: 100%;
  height: 46px !important;
  background-color: #fff;
  border: 1px solid #84B2EE;
  padding: 10px 15px;
  border-radius: 3px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  outline: none;
}

#addNewSection .container #addNewForm .selectField {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 5px;
}

#addNewSection .container #addNewForm .selectField select {
  width: 100%;
  height: 46px !important;
  background-color: #fff;
  border: 1px solid #84B2EE;
  padding: 10px 15px;
  border-radius: 3px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  outline: none;
}

#addNewSection .container #addNewForm .buttonDiv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
}

#addNewSection .container #addNewForm .buttonDiv .submitForm {
  padding: 10px;
  background-color: #D7E9F7;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

#addNewSection .container #addNewForm .buttonDiv .submitForm:hover {
  background-color: #84B2EE;
  -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.3);
}

.profileDivWrapper {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 70px;
  position: relative;
  -webkit-box-shadow: 0 30px 70px -20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 30px 70px -20px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

.profileDivWrapper .userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileDivWrapper .userInfo .name,
.profileDivWrapper .userInfo .email,
.profileDivWrapper .userInfo .ver {
  font-size: 1.5rem;
}

.profileDivWrapper .buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerSection {
  font-family: 'Raleway', sans-serif;
  background-color: #84B2EE;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23adfabc'/%3E%3Cstop offset='1' stop-color='%23adfabc' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23aef2b6'/%3E%3Cstop offset='1' stop-color='%23aef2b6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fcf3d9'/%3E%3Cstop offset='1' stop-color='%23fcf3d9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2384B2EE'/%3E%3Cstop offset='1' stop-color='%2384B2EE' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFF9DD'/%3E%3Cstop offset='1' stop-color='%23FFF9DD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F8EDD6'/%3E%3Cstop offset='1' stop-color='%23F8EDD6' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.registerSection .container-fluid {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.registerSection .container-fluid .formWrapper {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 70px;
  position: relative;
  -webkit-box-shadow: 0 30px 70px -20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 30px 70px -20px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

.registerSection .container-fluid .formWrapper .logoDiv {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 30px 0 auto;
}

.registerSection .container-fluid .formWrapper .logoDiv .logo {
  border-radius: 50%;
  -webkit-box-shadow: 0 20px 70px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 70px -20px rgba(0, 0, 0, 0.5);
}

.registerSection .container-fluid .formWrapper .logoDiv span {
  font-size: 1.5rem;
}

.registerSection .container-fluid .formWrapper #registerForm {
  position: absolute;
  width: 50%;
  background-color: #F6F6F6;
  padding: 50px;
  -webkit-box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.registerSection .container-fluid .formWrapper #registerForm div {
  margin: 15px 0;
  position: relative;
}

.registerSection .container-fluid .formWrapper #registerForm div input {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.registerSection .container-fluid .formWrapper #registerForm div .eye {
  position: absolute;
  background: transparent;
  padding: 5px;
  right: 2%;
  color: gray;
}

.registerSection .container-fluid .formWrapper #registerForm .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registerSection .container-fluid .formWrapper #registerForm .buttons .registerSubmit {
  width: 100%;
  padding: 6px;
  margin-top: 60px;
  background-color: #D7E9F7;
  border-radius: 5px;
}

.registerSection .container-fluid .formWrapper #registerForm .buttons .registerSubmit:hover {
  background-color: #cee5f7;
}

.registerSection .container-fluid .formWrapper #registerForm .buttons a {
  color: #84B2EE;
  padding: 5px;
  margin-top: 15px;
}

.loginSection {
  font-family: 'Raleway', sans-serif;
  background-color: #84B2EE;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23adfabc'/%3E%3Cstop offset='1' stop-color='%23adfabc' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23aef2b6'/%3E%3Cstop offset='1' stop-color='%23aef2b6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fcf3d9'/%3E%3Cstop offset='1' stop-color='%23fcf3d9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2384B2EE'/%3E%3Cstop offset='1' stop-color='%2384B2EE' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFF9DD'/%3E%3Cstop offset='1' stop-color='%23FFF9DD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F8EDD6'/%3E%3Cstop offset='1' stop-color='%23F8EDD6' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.loginSection .container-fluid {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.loginSection .container-fluid .formWrapper {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 70px;
  position: relative;
  -webkit-box-shadow: 0 30px 70px -20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 30px 70px -20px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

.loginSection .container-fluid .formWrapper .logoDiv {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 30px 0 auto;
}

.loginSection .container-fluid .formWrapper .logoDiv .logo {
  border-radius: 50%;
  -webkit-box-shadow: 0 20px 70px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 70px -20px rgba(0, 0, 0, 0.5);
}

.loginSection .container-fluid .formWrapper .logoDiv span {
  font-size: 1.5rem;
}

.loginSection .container-fluid .formWrapper #loginForm {
  position: absolute;
  width: 50%;
  background-color: #F6F6F6;
  padding: 70px 50px;
  -webkit-box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}

.loginSection .container-fluid .formWrapper #loginForm div {
  margin: 15px 0;
  position: relative;
}

.loginSection .container-fluid .formWrapper #loginForm div input {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.loginSection .container-fluid .formWrapper #loginForm div .eye {
  position: absolute;
  background: transparent;
  padding: 5px;
  right: 2%;
  color: gray;
}

.loginSection .container-fluid .formWrapper #loginForm .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginSection .container-fluid .formWrapper #loginForm .buttons .registerSubmit {
  width: 100%;
  padding: 6px;
  margin-top: 80px;
  background-color: #D7E9F7;
  border-radius: 5px;
}

.loginSection .container-fluid .formWrapper #loginForm .buttons .registerSubmit:hover {
  background-color: #cee5f7;
}

.loginSection .container-fluid .formWrapper #loginForm .buttons a {
  color: #84B2EE;
  padding: 5px;
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */