<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('parts/head') %>
    <% var error %>
    <% var admin %>

    <title>Olx-Admin</title>

    <style>
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 80%;
        }

        .inputWrapper{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin: 15px 0;
        }

        input{
            width: 100%;
        }

        .categoriesList{
            list-style: none;
            padding: 15px;
        }
        .categoriesListItem{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 80px;
        }

    </style>
</head>

<body>
    <%- include('parts/nav') %>
    <section class="loginSection">
        <div class="p-5 container">
            <div class="profileDivWrapper">
                <h2>Kategoriya qo'shish</h2>


                    <form method="POST" action="/admin/add_category">

                        <div class="inputWrapper">
                            <label for="">Nomi</label>
                            <input type="text" name="name">
                        </div>
                        <div class="inputWrapper">
                            <label for=""><a href="https://fontawesome.com/" target="_blank">FontAwesome</a>dan icon</label>
                            <input type="text" name="icon" placeholder='&lt i class="fas example" &gt &lt/i&gt'>
                        </div>

                        <button type="submit" class=" mx-3 border-primary text-primary btnSolidStyle">Qo'shish</button>

                    </form>

                    <% if (categoryList) {%>
                        <ul class="w-100 d-flex flex-column categoriesList">
                            <% for (let category of categoryList) {%>
                                <li class="categoriesListItem">
                                    <span class="categoryName"><%= category.name %> </span>
                                    <button class="m-0 dangerBtn">O'chirish</button>
                                </li>
                            <% } %> 
                        </ul>
                    <% } %> 


                <div class="buttons">
                    <a href="/users/logout" class=" mx-3 dangerBtn btnStyle">Akkauntdan chiqish</a>
                    <a class=" mx-3 btnSolidStyle">Sozlamalar</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        const reverify = document.querySelector('.reverify')

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>

</body>

</html>