<footer class="footer">
    <div class="container">
        <div class="footerTop">
            <div class="footerLogoDiv">
                <img src="/img/OLX.svg" alt="" class="logo">
            </div>
            <div class="footerLinksDiv">
                <ul class="footerLinksList">
                    <li class="footerLinksListItem">
                        <ul>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Mobil ilovalar
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Yordam
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Pullik xizmatlar
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    OLX-da biznes
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Saytda reklama
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Foydalanish shartlari
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Maxfiylik siyosati
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footerLinksListItem">
                        <ul>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Qanday sotib olish va sotish?
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Xavfsizlik qoidalari
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Sayt xaritasi
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Mintaqalar xaritasi
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Career
                                </a>
                            </li>
                            <li class="footerListItem">
                                <a href="" class="footerLink">
                                    Teskari aloqa
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footerSocialMedia">
                <ul class="contactList">
                    <li class="contactListItem">
                        <a href="" class="footerLink">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </li>
                    <li class="contactListItem">
                        <a href="" class="footerLink">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="contactListItem">
                        <a href="" class="footerLink">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    
                
                </ul>

                <ul class="appList">
                    <li class="applistItem">
                        <a href="" class="footerLink">
                            <i class="fab fa-google-play"></i>
                        </a>
                    </li>
                    <li class="applistItem">
                        <a href="" class="footerLink">
                            <i class="fab fa-apple"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <span>Barcha huquqlar himoyalangan. OLX group 2021</span>
        </div>
    </div>
</footer>